body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;


}

/* Formatando os links dentro das classes */
.menu a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 45px;
    padding: 10px;

}

.menu a:hover {
    text-decoration: underline;
    background-color: rgb(228, 228, 228);
}


.banner {
    /* max-width: 100%; - não precisa é automatico */
    background-image: url(img/banner.png);
    background-size: cover;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 125px;
    color: white;
}



.texto h1 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.texto p {
    font-size: 18px;
    padding: 0 20px;
    color: white;
}

.btn-banner {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    color: white;
    text-decoration: none;
}



.btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 25px;
    border-width: 2px;
    background-color: gray;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(92, 92, 92);
}

.associados-mensagem a {

    text-decoration: none;
    color: white;

}

.colunas {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    flex-wrap: wrap;
}

.coluna {
    width: 22%; /*220px*/
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.coluna p {
    color: #555555;
    
}

.coluna a {
    color: black;
    text-decoration: none;

}

.coluna a:hover {
    text-decoration: underline;
    padding: 5px;

}

#foto {
    max-width: 100%;
    background-color: rgb(228, 228, 228) height: 200px;
}


.barra {
    background-color: #bbbbbb;
    padding-top: 20px;
    padding-bottom: 20px;
}

.associados {
    display: flex;
    justify-content: space-between;

}

.associados-mensagem {

    margin-left: 20px;


}

.associados-mensagem h2 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;

}

.associados-mensagem p {
    font-size: 18px;

}

.h2{
    font-size: 36px;
    color: #555555;
}

.p{
    font-size: 14;
    color: #555555;
}

.bg-rodape {
    
    background-color: black;
    padding: 20px 0;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.endereco{
    width: 51%;
}

.endereco p {
    
    color: white;
    margin: 0;

}


.rede-social a{
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

@media screen and (max-width:1024px){

    .topo {
        flex-direction: column;
            
    }

    .menu{
        margin-top: 20px;
    }

    .banner{
        background-position: center;
    }

    .coluna{
        width: 45%;
        
    }

    .associados{
        flex-direction: column;
        text-align: center;
    }

    .associados-mensagem{
        margin-left: 0;
        margin-top: 20px;
    }

    
    
}

@media screen and (max-width: 767px){

    .btn-menu{
        margin-top: 20px;
    }

    

    .traco{
        width: 40px;
        height: 3px;
        background-color: #000000;
        margin-bottom: 3px;
        transition: 0.5s;
    }

    .x .traco:first-child{
        transform: rotate(45deg) translate(4px,4px);

        
    }

    .x .traco:nth-child(2){
        opacity: 0;
        transform: translate(-100px);
        
    }

    .x .traco:last-child{
        transform: rotate(-45deg) translate(4px,-4px);; 
        
    }
    
    .menu{
        width: 100%;
        display: none; /*desativa o menu*/
    }

    .menu-show{
        display: block;
    }

    .menu a{
        display: block;
        text-align: center;
        margin-left: 0;
        background-color: #ddd;
        margin-bottom: 1px;
        padding: 15px 0;

    }

    .coluna{
        width: 100%;
        
    }

   .associados-foto img{
       max-width: 100%;
   }

   .rodape{
       flex-direction: column;
   }

   .endereco{
       width: 100%;
       text-align: center;
       margin-bottom: 20px;
   }

}